<?xml version="1.0"?>
<launch>

    <!-- Args -->
    <arg name="base_link" default="robot_base_link" doc="default name is  robot_base_ link" />
    <arg name="semantic_map_frame" default="semantic_map" doc="default name is semantic_map" />
    <arg name="map_frame" default="robot_map" doc="default is robot_map" />
    
    <!-- Publish a pcl2 around the robot position at time t. -->
        <node name="signal_mapper" pkg="era_5g_network_signal_mapper" type="signal_mapper.py" output="screen">

        <!-- Base link frame of the robot -->
        <param name="base_link"   type="string" value="$(arg base_link)" />
        <!-- New frame where pcl2 will be publish -->
        <param name="semantic_map_frame"   type="string" value="$(arg semantic_map_frame)" />
	
    </node>

    <!-- Publish a concatenated (historical) pcl2 from the signal_mapper publisher pcl2. -->
    <node name="sub_signal_mapper" pkg="era_5g_network_signal_mapper" type="sub_signal_mapper.py" output="screen">

	    <!-- Map frame -->
	    <param name="map_frame"   type="string" value="$(arg map_frame)" />
        <!-- New frame where pcl2 will be publish -->
        <param name="semantic_map_frame"   type="string" value="$(arg semantic_map_frame)" />
    </node>


</launch>
